/* styles from pop.css */

.green{
  background-color: green;
}
.red{
  background-color: red;
}
.frameColor{
  border-color: #b0b0b0;
}

/* header */
.popup .modal-header{
  background-color: #1677cb;
  height: 60px;
  color: #fff;
}
.popup .modal-header .close{
  color: #fff;
}

/* modal body */
.popup .modal-dialog{
  min-width: 660px;
}
.popup .modal-body{
  min-height: 360px;
}

.popup .modal-body.left-menu{
  background-color: #f6f6f6;
}
.popup .modal-body .modal-body-cont{
  padding-top: 20px;
}
.popup .disabled-input,
.general_settings_form_cont .disabled-input{
  background-color: #f5f8f9 !important;
}
.popup form input, .popup form select{
  height: 40px;
  border-color: #b0b0b0;
}
.popup form label{
  font-size: 12px;
  margin-bottom: 15px;
  color:#444444;
}
.popup form label:first-letter{
  text-transform: capitalize;
}
.popup form textarea,
.general_settings_form_cont textarea{
  resize: none;
  height: 80px;
  border-color: #b0b0b0;
}

/* footer*/
.popup .modal-footer{
  background-color: #f6f6f6;
  height: 60px;
  padding: 10px 20px 0px 0px;
}
.popup .button-save{
  height: 40px;
  min-width: 80px;
}
.popup .modal-footer .button-close{
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  color: #444444;
  height: 40px;
}
.popup .modal-footer button{
  margin-left: 10px;
}
.popup button:focus{
  outline: none !important;
  border: 0px;
}
.popup  .modal-header .title h4{
  margin-top: 4px;
}
.popup .button-activate{
  height: 40px;
  width: inherit;
}
.popup .linked-ticket-count{
  padding-top: 5px;
}
.popup .linked-ticket-count span{
  width: 25px;
  height: 20px;
  border-radius: 3px;
  background-color: #1677cb;
  font-size: 13px;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.popup .linked-ticket-count a{
  text-decoration: none;
  color: #888888;
  font-weight: bold;
}

.popup select{
  background: transparent url("../images/arrow-down-1.png") no-repeat;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup .checkbox-icon {
  margin-right: 10px;
}
.btn-blue.btn-default[disabled] {
  background-color: #337ab7 !important;
}
.file-list span{
  display: inline-block !important;
}
.popup.new-tv-session .modal-body{
  padding: 20px 10px 10px 0px;
}
.popup.organisation-modal .org-data,
.popup.customer-data-modal .custom-data{
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup .org-data,
.popup .custom-data{
  margin: 0 15px;
  background: #fff;
  border: 0;
  color: #888888;
}

.popup .org-data .row,
.popup .custom-data .row{
  margin-bottom: 20px;
}

.corsor_change:hover{
  cursor: pointer;
}

/* Vertical Seperator */
.vertical-seperator{
  margin-top:5px;
  margin-bottom:5px;
}
.modal-450, .modal-450 .modal-body {
  min-height: 465px !important;
}
.textarea-margin {
  margin-top: 10px;
}
.modal-body .title{
  color: #146bc6;
  font-weight: bolder;
}
.modal-body .stafftitle{
  color: #146bc6;
  font-weight: bolder;
}
.modal-body .general-settings-hr1 {
  border-bottom: 1px solid #ccc;
  margin: 15px 0 15px 0;
}

.popup .question-mark {
  background: url('../images/sprite.png') left -183px top -687px;
  width: 26px;
  height: 26px;
  cursor:pointer;
}

#templateSubject {
  height: 340px;
}


/* styles from ticket_create.css */
.popup.ticket-create-popup .modal-body{
  max-height: 360px;
  padding: 0 30px 0 30px;
}

.tv-requester-create-addon {
  background: transparent;
}

.create-file-upload {
  margin-top: 20px;
}

#ticket-create .description-help-block {
  margin-top: 45px;
}

/* from global.css */

.scrollbar-macosx {
  overflow: auto;
}

.scrollbar-popup {
  max-height:  60vh;
  overflow: auto;
}

.nomargin {
  margin: 0 !important;
}
#check-tick {
  padding: 10px;
}

.checkbox-icon.checked{
  float: left;
  width: 16px;
  height: 16px;
  /*background: url('../images/sprite.png') left -31px top -208px no-repeat;*/
  background-image: url("../images/sprite.png");
  background-position-x: -31px;
  background-position-y: -208px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  cursor: pointer;
}
.checkbox-icon.unchecked{
  float: left;
  width: 16px;
  height: 16px;
  /*background: url('../images/sprite.png') left -8px top -208px no-repeat;*/
  background-image: url("../images/sprite.png");
  background-position-x: -8px;
  background-position-y: -208px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  cursor: pointer;
}

.btn-white {
  border: 1px solid #EBEBEB;
  border-radius: 25px;
  color: #444444;
  background: white;
}


/* from login.css */

.checkbox-input{
  position: absolute;
  left: -9999%;
  width: 0;
  height: 0;
}


/* from replyList.css */
.reply-attachment-ico {
  width: 14px;
  height: 21px;
  /*background: url('../images/sprite.png') left -5px top -7px;*/
  background-image: url("../images/sprite.png");
  background-position-x: -5px;
  background-position-y: -7px;
  float: left;
  margin: 5px 4px 0px 0px;
}

.btn-reply-attachment {
  padding: 6px 16px 6px 16px;
}


/* from configuration.css */

.btn-blue {
  background: #1677ca;
  color: #fff;
  border: 0;
  border-radius: 25px;
}

.btn-blue:hover {
  color: #fff;
  background: #2D84D0; /* from global css */
}

/* scroll styles */

.scroll-wrapper {
  padding: 15px !important;
}

.modal-footer {
  margin-top: 10px;
}

.custom-field {
  /*height: 75px;*/
}

.upload-element {
  margin-top: 40px;
}

.hidden-el {
  position:absolute;
  top: -3000px;
}
